[Unit]
Description=icanhazip
After=network.target

[Service]
PrivateTmp=true
Type=simple
ExecStart=/icanhazip/icanhazip
User=tactical
Group=tactical
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target